/*Stylesheet*/
/*Last modified on 1-31-2021 by JGreen*/
*
 {
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
 }
 
 h5 {
     font-family: 'Arimo', sans-serif;
     font-size: 30px;
     color: black;

 }
 /*Sets jumbotron and responsive img for jumbotron*/

.jumbotron
{
    background-color: DE354C;
    text-align: center;
    color: black;
}
.responsive {
    width: 100%;
    height: auto;
}
.container
{ 
    padding-left: 20px;
    display: grid;

}
/*Sets body style; with Google font*/
body {
   background-color: #283747;
   font-family: 'Arimo', sans-serif;
   font-size: 16px;
   color: white;
}

/*Sets style for cards used on portfolio page*/
.card {
    margin: 30px;
    font-size: 20;
    color: black;
}

.card-img-top{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    vertical-align: center;
    
}
.card-text
{
    color: black;
    font-family: 'Arimo', sans-serif;;
}
.contact-column {
column-count: 4;
column-width: 100px;
padding: 20px;
column-gap: 50px;

}

/*Sets style for header*/
header{
    padding: 20px;

}
/* Navbar and nav-link : sets custom style*/
.navbar
{
    display: inline-flex;
    text-align: right;
    color: white;
    width: 100%;
    left: 0;
}
.nav-link
{
    font-size: 30px;
    color: white;
}

/*Sets form controls to white text for dark background*/
.form-group
{   color: white

}

/*Sets properties for footer*/

footer{
    flex-shrink: 0;
    width: 100%;
    padding: 0px;

}