/*Stylesheet*/

*
 {
    box-sizing: border-box;
    

}

 .column
{
    float:left;
    width: 33%;
    padding: 0 10px;
}

body {
   background-color: #283747;
   font-family: 'Arimo', sans-serif;
   
}

.card {
    margin: 30px;
}

header{
    padding: 20px;

}
.navbar
{
    display: inline-flex;
    text-align: right;
    color: white;

}

.jumbotron
{
    background-color: DE354C;
    text-align: center;
}