/*Stylesheet*/

*
 {
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
 }
.responsive {
    width: 100%;
    height: auto;
}
.container
{
    padding-left: 20px;
}

body {
   background-color: #283747;
   font-family: 'Arimo', sans-serif;
   font-size: 16px;
   
}

.card {
    margin: 30px;
    font-size: 20;
}

.card-img-top{
    max-width: 120px;
    max-height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


header{
    padding: 20px;

}
.navbar
{
    display: inline-flex;
    text-align: right;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;

}

.nav-link
{
    font-size: 50px;
}

.jumbotron
{
    background-color: DE354C;
    text-align: center;
}
footer{
    flex-shrink: 0;
    width: 100%;
    padding: 0px;

}